body {
  font-family: "Muli", serif !important;
  font-weight: 600;
}

.str-chat {
  height: 100%;
}

.str-chat * {
  font-family: "Muli", serif !important;
}

.messaging.str-chat .str-chat__list {
  padding: 0;
}

.messaging.str-chat .str-chat__list .str-chat__reverse-infinite-scroll {
  padding: 0;
}

.str-chat.messaging.dark,
.str-chat.commerce.dark {
  background-color: #1a202c;
}

.str-chat__main-panel {
  padding: 0 !important;
}

.str-chat__date-separator {
  display: none;
}
